.card {
  border: 1px solid #efefef;
  padding: 20px 20px 10px;
  text-align: center;
}

.card:hover {
  border: 1px solid #dedede;
}

.card__name {
  font-size: 18px;
}

.card__name:first-letter {
  text-transform: capitalize;
}

.card__image {
  height: 96px;
}

.card__types {
  display: flex;
  justify-content: center;
}

.card__type {
  color: white;
  margin: 5px;
  padding: 2px 10px 5px 10px;
  border-radius: 3px;
}

.card__type:first-letter {
  text-transform: capitalize;
}

.card__stats {
  font-size: 14px;
  border-bottom: 0;
  margin-top: 15px;
}
.card__stat {
  display: flex;
  justify-content: space-between;
  color: #333;
  margin: 0;
  padding: 4px 10px 5px 10px;
  border-top: 1px solid #efefef;
}