.nav-container {
  margin: auto;
  max-width: 920px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

button {
  background: #f44336;
  border: 0px;
  color: #fff;
  font-size: 17px;
  padding: 10px;
  margin: 20px 10px;
  min-width: 104px;
}

button:hover {
  cursor: pointer;
  background: #dc281b;
}