body {
  margin: 0;
  padding: 0;
}

.grid-container {
  padding: 0 20px 20px;
  width: 100hw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.loading {
  text-align: center;
}